/* ! important */
/* fix bulma's screen overflow on mobile devices  */
.columns {
	margin: 0;
}

/* * position */
.is-absolute {
	position: absolute;
}

.is-absolute-top {
	position: absolute;
	top: 0;
}

/* * spacing */
.mb-12 {
	margin-bottom: 6rem;
}

.mb-12-i {
	margin-bottom: 6rem !important;
}

/* * sizing */
.has-zero-height {
	height: 0;
}

/* * flex order */
.is-order-first {
	order: 1;
}

.is-order-last {
	order: 10;
}

/* * responsive flexbox */
@media screen and (max-width: 768px) {
	.is-justify-content-center-mobile {
		justify-content: center !important;
	}

	.is-flex-direction-column-mobile {
		flex-direction: column !important;
	}

	.is-flex-centered-mobile {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.is-block-mobile {
		display: block;
	}

	.is-absolute-mobile {
		position: absolute;
	}

	.is-full-width-mobile {
		width: 100%;
		max-width: 100%;
	}

	.is-full-width-mobile-i {
		width: 100% !important;
		max-width: 100% !important;
	}
}

/* tablet */
@media screen and (min-width: 768px) {
	.is-absolute-tablet {
		position: absolute;
	}

	.is-rotated-upside-tablet {
		transform: rotate(-90deg);
	}

	.mr-4-tablet {
		margin-right: 1rem;
	}
}

