.button {
  padding: 2.5rem;
  border-radius: 15px;
}

.slides {
  margin-top: -10%;
}

.product-info {
  top: 3%;
  max-width: 60%;
}

/* .side-links, .social {
  transform: rotate(-90deg);
}

.side-links li, .social li{
  margin: 0 1rem;
} */

/* .side-links {
  left: -140%;
  top: 15%;
}

.social {
  left: -20%;
  bottom: 8%;
} */
/* .vertical-text {
  max-height: 20px;
} */