/* general */
* {
  box-sizing: border-box !important;
}

body {
  font-family: 'Sofia Pro', serif;
}


/* header */
.logo {
  font-family: 'Circular Std', serif;
}


/* left sidebar */
.extra-care, .title {
  font-family: 'Sofia Pro Ultralight', serif;
}

.learn-more .line {
  border-bottom: 2px solid black;
}


/* central section */
.product-info {
  top: 3%;
  max-width: 60%;
}

/* vertical lines */

.lines {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.lines .line {
  height: 100%;
  width: 20%;
  border-right: 1px solid #E9E9E9;
}

/* remove border from last line */
.lines .line:last-child {
  border-right: 0;
}

.line.numbers {
  display: flex;
  align-items: center;
}

.hanging-number {
  color: #FBF4E5;
  font-size: 22em;
  z-index: -2;
  position: absolute;
  right: 0;
  top: 0;
}

.menu li {
  max-width: 75%;
}

.menu li a {
  transition: background-color .5s; 
}

.product-info .price {
  font-size: 2rem;
  font-family: 'Sofia Pro Extralight';
  color: black;
}

.row {
  display: flex;
}

/* responsiveness */
@media screen and (min-width: 768px) {
  .vertical-text {
    writing-mode: vertical-lr;
  }
  
  .vertical-text ul {
    transform: rotate(-180deg);
  }
}

@media screen and (max-width: 768px) {
  .menu li {
    max-width: 100%;
    text-align: center;
  }

}
