/* general */
* {
  box-sizing: border-box !important;
}

body {
  font-family: 'Sofia Pro', serif;
}


/* header */
.logo {
  font-family: 'Circular Std', serif;
}


/* left sidebar */
.extra-care, .title {
  font-family: 'Sofia Pro Ultralight', serif;
}

.learn-more .line {
  border-bottom: 2px solid black;
}


/* central section */
.product-info {
  top: 3%;
  max-width: 60%;
}

.lines {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.lines .line {
  height: 100%;
  width: 20%;
  border-right: 1px solid #E9E9E9;
}

.lines .line:last-child {
  border-right: 0;
}


/* responsiveness */
@media screen and (min-width: 768px) {
  .vertical-text {
    writing-mode: vertical-lr;
  }
  
  .vertical-text ul {
    transform: rotate(-180deg);
  }
}

