* {
  box-sizing: border-box !important;
}

body {
  font-family: 'Sofia Pro', serif;
}

.logo {
  font-family: 'Circular Std', serif;
}

.extra-care {
  font-family: 'Sofia Pro Ultralight', serif;
}

.line {
  /* width: 33%; */
  border-bottom: 2px solid black;
}
