.cart.background

  .modal

    //- close icon at the top right 
    .close-button.has-text-right
      i.fas.fa-times.is-clickable
  
    div
      p.count You added #[span.items 0 items] to your cart
      p.deals Keep shopping to find best deals
  
    .columns

      //- cart image
      .column.img
        img(src="img/empty_cart-removebg-preview.png", alt)
      .column

        //- title
        p.title.is-size-1 
        section.row
          | Quantity:
        
        //- plus sign 
        .columns.is-align-items-center.is-size-5
          p.add-to-cart.plus-sign.mr-2
            i.fas.fa-plus
        
          //- quantity 
          p.quantity.mr-2 0
        
          //- minus sign 
          p 
            i.remove-from-cart.fas.fa-minus
        
        //- price 
        p.price Price: $
        span.total-price 1.00 
        
        //- close button at the bottom center 
        .row.is-flex.is-justify-content-center
          .close-button
            a.btn.btn-close(href="#") Close cart